{% extends "base.html" %}

{% block content %}
<div class='new-note-div flex'>

<!-- </div> style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;"> -->
  <p class='note-button'>Create New Note</p>
</div>

<style>
  label {color:white; font-size: 18px;}
  textarea {font-size: 14px; width: 90%; background-color:rgba(244, 249, 252, 0.993);}
  input {width:50%;}
  span.helptext {color:white;}
</style>

<div class="form-div">
  <form  action="{% url 'add_note' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button class='button-function' type="submit">Add Note</button>
    </div>
  </form>
</div>
{% endblock %}