
.header-nav {
  color:black; 
  background-color: white; 
  background-color: #46454596;
  border: 4px solid black; 
  color: rgba(255, 255, 255, 0.856);
  
  border-radius: 10px; 
  padding:6px; 
  text-decoration: none;
  font-size: 50px;
}

.body {
  margin: 0;
  margin-left:20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url("../images/pexels-caryn-938165.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  padding-bottom: 200px;
  background-color: rgb(17, 17, 17);
  font-family: 'Inconsolata', monospace;
}

.content-block {
  display:flex; 
  flex-direction: column; 
  width:95%;
}

.box {
  display: none;
}

.label-button {
  font-size: 14px; 
  background-color:black; 
  border: solid 2px rgba(255, 213, 0, 0.851); 
  border-radius: 10px; 
  color: white; 
  padding: 4px; 
  margin: 3px;
}

.note-list-container {
  margin-left:20px; 
  background-color: rgba(43, 41, 41 , .74);
  border-radius: 10px;
  color: white;
}

.new-note-div {
  margin-top: 20px; 
  margin-left: 20px;
}

.note-list {
  list-style: none;
  padding-left: 10px; 
  padding-right:15px;
}

.flex {
  display: flex;
}

.fs25 {
  font-size: 25px;
}

.mt15 {
  margin-top: 15px;
}

.ml20 {
  margin-left: 20px;
}

.fw400 {
  font-weight: 400;
}

.p5 {
  padding: 5px;
}

.pb50 {
  padding-bottom: 50px;
}

.note-detail-preview {
  background-color:rgba(245, 236, 117, 0.977);
  padding: 10px;
  color:#1c1c1d;
  border-radius: 10px;
  font-weight: 300;
}

.button-function {
  font-weight: 500; 
  font-size: 16px; 
  border-radius: 10px; 
  padding: 6px; 
  color:black; 
  background-color:rgba(255, 213, 0, 0.851); 
  text-decoration: none;
}

.view-hide {
  display:flex;
  margin:0; 
  margin-left:5px; 
  margin: 5px 0 0 8px;
  font-size: 16px; 
  font-weight:800; 
  color:rgb(255, 213, 0);
  color: #311B8E;
  color: rgba(255, 213, 0, 0.851); 
}

.note-button {
  font-size: 25px; 
  border-radius: 10px; 
  padding: 5px; 
  color:white; 
  background-color:black; 
  border: solid 3px rgb(116, 115, 115); 
  text-decoration: none;
}

.form-div, .search-form-div {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  color: white;
  margin-left: 20px;
  display:flex;
}

.search-form-div form {
  color: white;
}

.form-div form {
  color:white;
  width: 95%;
}

.form-div form p {
  display: flex;
}
.form-div label, .form-div select {
  margin-right: 10px;
}
.form-div label {
  font-size: 18px;
}
.form-div span {
  font-size: 15px;
  color: white;
}

.form-div select {
  font-size: 16px;
}

.form-div textarea, .form-div input, .form-div select {
  border-radius: 10px;
  background-color:rgba(244, 249, 252, 0.993);
}
.form-div textarea {
  font-size: 16px;
  width: 90%;
}
.form-div input {
  font-size: 18px;
  width: 60%;
}

.search-form-div {
  justify-content: flex-end;
}



.search-form-div form {
  color: white;
}

.search-form p {
  color:white;
  display: flex;
  justify-content: flex-end;
}

.search-submit {
  display: flex;
  justify-content: flex-end;
}

.comment {
  font-family: 'Indie Flower', cursive; 
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  padding:10px; 
  max-width: 70%; 
  margin-bottom:6px; 
  margin-top:0; 
  color: rgb(226, 223, 223);  
  margin-right: 10px; 
  margin-left: 20px;
}

.comment-time {
  padding: 10px;
  /* width: 25%;  */
  margin-bottom:6px; 
  margin-top: 0; 
  color:#debb14;
}
